# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

src/main/info

build.done

.idea/

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo

/.xcodemap/
/design/

**/src/a_generated/
